.delete-modal {
  background-color: var(--dark-background-color);
  border-radius: var(--secondary-border-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-model-content {
  padding: 21px 35px 30px 31px;
}

.delete-modal-text {
  padding-bottom: 20px;
  text-align: center;
  color: var(--primary-text-color);
}

.delete-modal-button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* Tablet */
@media (min-width: 768px) {
  .delete-modal-text {
    width: 388px;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-2xl);
  }
}
