.input-form {
  border: 1px solid var(--tertiary-border-color);
  border-radius: 8px;
  padding: 14px;
  background-color: var(--tertiary-background-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
  color: var(--primary-text-color);
}

.input-form-lg {
  margin-bottom: 16px;
}

.input-form-sm {
  margin-right: 127px;
}

/* Tablet */
@media (min-width: 768px) {
  .input-form-sm {
    margin-right: 228px;
  }
}
