.sidebar {
  position: fixed;
  height: 100%;
  background-color: var(--primary-background-color);
  padding-left: 12px;
}

.sidebar-header {
  display: inline-block;
  padding-top: 24px;
  border-radius: 12px;
  padding-left: 10px;
}

.sidebar-logo {
  display: inline-block;
  padding: 11px;
  border-radius: 12px;
  background-color: rgba(235, 150, 106, 0.26);
}

.sidebar-body {
  padding-top: 39px;
  padding-bottom: 80px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nav-item {
  position: relative;
  padding: 13px 24px 13px 11px;
}

.active {
  border-radius: 12px 0 0 12px;
  background-color: var(--dark-background-color);

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: 0;
    box-shadow: 7.5px 7.5px 0 7.5px var(--dark-background-color);
    border-bottom-right-radius: var(--secondary-border-radius);
    width: 12px;
    height: 12px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 0;
    border-top-right-radius: var(--secondary-border-radius);
    box-shadow: 7.5px -7.5px 0 7.5px var(--dark-background-color);
    width: 12px;
    height: 12px;
  }
}

.nav-link {
  display: inline-block;
  border-radius: var(--primary-border-radius);
  padding: 16px;
}

.active > .nav-link {
  box-shadow: 0 8px 24px rgba(234, 124, 105, 0.32);
  background-color: var(--secondary-background-color);
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  padding-left: 12px;
  padding-bottom: 24px;
}

.sidebar-footer-link {
  display: inline-block;
  padding: 18px;
}

.sidebar svg {
  width: 24px;
  height: 24px;
}

.active svg {
  filter: invert(100%) hue-rotate(180deg) brightness(10);
}

.homepage-content {
  position: absolute;
  inset: 20px 23px 21px 124px;
  height: max-content;
  border-radius: var(--primary-border-radius);
  background-color: var(--primary-background-color);
}

.homepage-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 19px 20px;
  border-bottom: 1px solid var(--tertiary-border-color);
}

.homepage-topbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.homepage-search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  background-color: var(--tertiary-background-color);
  border: none;
  color: var(--brown-text-color);
  flex: 1;
  outline: none;
}

.homepage-sort {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  border: 1px solid var(--tertiary-border-color);
  border-radius: var(--primary-border-radius);
  padding: 14px;
  margin-right: auto;
}

.sort-list {
  cursor: pointer;
  border: none;
  background-color: var(--primary-background-color);
  appearance: none;
  outline: none;
}

.homepage-main {
  display: grid;
  justify-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--tertiary-border-color);
  padding-top: 27px;
  padding-bottom: 33px;
}

.homepage-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 52px;
  padding-bottom: 50px;
}

/* Tablet */
@media (min-width: 768px) {
  .nav-list {
    gap: 30px;
  }

  .homepage-header {
    flex-direction: column;
    gap: 25px;
    padding-top: 55px;
    padding-left: 42px;
    padding-right: 45px;
  }

  .homepage-topbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .homepage-search {
    width: 250px;
  }

  .homepage-sort {
    margin-left: auto;
    margin-right: 0;
  }

  .homepage-main {
    padding-left: 42px;
    padding-right: 45px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1352px) {
  .homepage-header {
    padding-right: 78px;
    gap: 38px;
  }

  .homepage-search {
    width: 342px;
  }

  .homepage-main {
    grid-template-columns: repeat(5, 1fr);
  }
}
